In [1]:
import os
import pandas as pd

## Data Aggregration

In [12]:
# Specify the folder containing CSV files
folder_path = 'weather_data'

# Initialize an empty list to store DataFrames
data_frames = []

# Loop through all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        
        # Read the CSV file into a DataFrame
        current_data = pd.read_csv(file_path)
        
        print(file_path)
        #print(current_data.shape)
        
        # Append the DataFrame to the list
        data_frames.append(current_data)

# Concatenate all DataFrames in the list along the rows
aggregate_data = pd.concat(data_frames, ignore_index=True)

weather_data\2003_april_sept.csv
weather_data\2003_oct.csv
weather_data\2004_april_sept.csv
weather_data\2004_oct.csv
weather_data\2005_april_sept.csv
weather_data\2005_oct.csv
weather_data\2006_april_sept.csv
weather_data\2006_oct.csv
weather_data\2007_april_sept.csv
weather_data\2007_oct.csv
weather_data\2008_april_sept.csv
weather_data\2008_oct.csv
weather_data\2009_april_sept.csv
weather_data\2009_oct.csv
weather_data\2010_april_sept.csv
weather_data\2010_oct.csv
weather_data\2011_april_sept.csv
weather_data\2011_oct.csv
weather_data\2012_april_sept.csv
weather_data\2012_oct.csv
weather_data\2013_april_sept.csv
weather_data\2013_oct.csv
weather_data\2014_april_sept.csv
weather_data\2014_oct.csv
weather_data\2015_april_sept.csv
weather_data\2015_oct.csv
weather_data\2016_april_sept.csv
weather_data\2016_oct.csv
weather_data\2017_april_sept.csv
weather_data\2017_oct.csv
weather_data\2018_apriL_sept.csv
weather_data\2018_oct.csv
weather_data\2019_april_sept.csv
weather_data\2019_oct.csv
weather_data\2020_april_sept.csv
weather_data\2020_oct.csv
weather_data\2021_april_sept.csv
weather_data\2021_oct.csv
weather_data\2022_april_sept.csv
weather_data\2022_oct.csv
weather_data\2023_april_sept.csv
weather_data\2023_oct.csv

In [7]:
aggregate_data.shape   

# 58710 rows and 146 columns

(58710, 146)

In [8]:
aggregate_data.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,CDSD,CDSD_ATTRIBUTES,...,WDF2,WDF2_ATTRIBUTES,WDF5,WDF5_ATTRIBUTES,WDMV,WDMV_ATTRIBUTES,WSF2,WSF2_ATTRIBUTES,WSF5,WSF5_ATTRIBUTES
0,USC00122184,"DEPUTY 1 WNW, IN US",38.79970,-85.67240,193.5,2003-10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00128442,"STENDAL, IN US",38.26714,-87.14299,198.1,2003-10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00126023,"MUNCIE, IN US",40.18250,-85.34970,294.4,2003-10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00125055,"LIGONIER 2 S, IN US",41.43111,-85.58972,282.2,2003-10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00124642,"KNIGHTSTOWN 2 ENE, IN US",39.80750,-85.48770,303.9,2003-10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Compare missing columns

In [15]:
first_csv = pd.read_csv("weather_data\\2003_oct.csv")
last_csv = pd.read_csv("weather_data\\2023_oct.csv")

print(first_csv.shape) # 146 columns
print(last_csv.shape)  # 106 columns

(967, 146)
(497, 106)

In [18]:
# Find columns that exist in first_csv but not in last_csv
columns_not_in_df2 = set(first_csv.columns) - set(last_csv.columns)

# Find columns that exist in last_csv but not in first_csv
columns_not_in_df1 = set(last_csv.columns) - set(first_csv.columns)

print(f'Columns not in df2: {columns_not_in_df2}')
print(f'Columns not in df1: {columns_not_in_df1}')

Columns not in df2: {'LX06_ATTRIBUTES', 'HX04_ATTRIBUTES', 'HN04', 'LN05_ATTRIBUTES', 'TSUN_ATTRIBUTES', 'HN06_ATTRIBUTES', 'MN06_ATTRIBUTES', 'LX04', 'HX06', 'PSUN_ATTRIBUTES', 'HX04', 'PSUN', 'HN05', 'MN05_ATTRIBUTES', 'MX06', 'MN05', 'HX06_ATTRIBUTES', 'HN04_ATTRIBUTES', 'MX06_ATTRIBUTES', 'LX06', 'LN04', 'LN06_ATTRIBUTES', 'HN06', 'MX04', 'LX05_ATTRIBUTES', 'LX04_ATTRIBUTES', 'MN04_ATTRIBUTES', 'MX05', 'LN06', 'MN06', 'MX04_ATTRIBUTES', 'TSUN', 'HX05_ATTRIBUTES', 'HX05', 'LN04_ATTRIBUTES', 'LN05', 'HN05_ATTRIBUTES', 'MX05_ATTRIBUTES', 'MN04', 'LX05'}
Columns not in df1: set()

In [20]:
for i in columns_not_in_df2:
    print(i)

LX06_ATTRIBUTES
HX04_ATTRIBUTES
HN04
LN05_ATTRIBUTES
TSUN_ATTRIBUTES
HN06_ATTRIBUTES
MN06_ATTRIBUTES
LX04
HX06
PSUN_ATTRIBUTES
HX04
PSUN
HN05
MN05_ATTRIBUTES
MX06
MN05
HX06_ATTRIBUTES
HN04_ATTRIBUTES
MX06_ATTRIBUTES
LX06
LN04
LN06_ATTRIBUTES
HN06
MX04
LX05_ATTRIBUTES
LX04_ATTRIBUTES
MN04_ATTRIBUTES
MX05
LN06
MN06
MX04_ATTRIBUTES
TSUN
HX05_ATTRIBUTES
HX05
LN04_ATTRIBUTES
LN05
HN05_ATTRIBUTES
MX05_ATTRIBUTES
MN04
LX05

In [24]:
# Extract columns ending with "_attributes"
attributes_columns = [col for col in aggregate_data.columns if col.endswith("_ATTRIBUTES")]

# Create a new DataFrame with only the selected columns
df_attributes = aggregate_data[attributes_columns]

In [26]:
df_attributes.shape

(58710, 70)

In [33]:
# Get the NaN counts for each column
nan_counts = df_attributes.isna().sum()

# Loop through the Series and print column names along with NaN counts
for column, nan_count in nan_counts.items():
    print(f'Column "{column}" has {nan_count} NaN values.')

Column "AWND_ATTRIBUTES" has 56954 NaN values.
Column "CDSD_ATTRIBUTES" has 47278 NaN values.
Column "CLDD_ATTRIBUTES" has 45323 NaN values.
Column "DP01_ATTRIBUTES" has 3675 NaN values.
Column "DP10_ATTRIBUTES" has 3675 NaN values.
Column "DSND_ATTRIBUTES" has 40324 NaN values.
Column "DSNW_ATTRIBUTES" has 34751 NaN values.
Column "DT00_ATTRIBUTES" has 45275 NaN values.
Column "DT32_ATTRIBUTES" has 45275 NaN values.
Column "DX32_ATTRIBUTES" has 45160 NaN values.
Column "DX70_ATTRIBUTES" has 45160 NaN values.
Column "DX90_ATTRIBUTES" has 45160 NaN values.
Column "EMNT_ATTRIBUTES" has 45275 NaN values.
Column "EMSD_ATTRIBUTES" has 40324 NaN values.
Column "EMSN_ATTRIBUTES" has 34751 NaN values.
Column "EMXP_ATTRIBUTES" has 3675 NaN values.
Column "EMXT_ATTRIBUTES" has 45160 NaN values.
Column "EVAP_ATTRIBUTES" has 58103 NaN values.
Column "HDSD_ATTRIBUTES" has 47072 NaN values.
Column "HN01_ATTRIBUTES" has 57349 NaN values.
Column "HN02_ATTRIBUTES" has 57520 NaN values.
Column "HN03_ATTRIBUTES" has 58269 NaN values.
Column "HN04_ATTRIBUTES" has 58511 NaN values.
Column "HN05_ATTRIBUTES" has 58664 NaN values.
Column "HN06_ATTRIBUTES" has 58665 NaN values.
Column "HTDD_ATTRIBUTES" has 45323 NaN values.
Column "HX01_ATTRIBUTES" has 57348 NaN values.
Column "HX02_ATTRIBUTES" has 57519 NaN values.
Column "HX03_ATTRIBUTES" has 58271 NaN values.
Column "HX04_ATTRIBUTES" has 58513 NaN values.
Column "HX05_ATTRIBUTES" has 58664 NaN values.
Column "HX06_ATTRIBUTES" has 58664 NaN values.
Column "LN01_ATTRIBUTES" has 57349 NaN values.
Column "LN02_ATTRIBUTES" has 57520 NaN values.
Column "LN03_ATTRIBUTES" has 58269 NaN values.
Column "LN04_ATTRIBUTES" has 58511 NaN values.
Column "LN05_ATTRIBUTES" has 58664 NaN values.
Column "LN06_ATTRIBUTES" has 58665 NaN values.
Column "LX01_ATTRIBUTES" has 57348 NaN values.
Column "LX02_ATTRIBUTES" has 57519 NaN values.
Column "LX03_ATTRIBUTES" has 58271 NaN values.
Column "LX04_ATTRIBUTES" has 58513 NaN values.
Column "LX05_ATTRIBUTES" has 58664 NaN values.
Column "LX06_ATTRIBUTES" has 58664 NaN values.
Column "MN01_ATTRIBUTES" has 57349 NaN values.
Column "MN02_ATTRIBUTES" has 57520 NaN values.
Column "MN03_ATTRIBUTES" has 58269 NaN values.
Column "MN04_ATTRIBUTES" has 58511 NaN values.
Column "MN05_ATTRIBUTES" has 58664 NaN values.
Column "MN06_ATTRIBUTES" has 58665 NaN values.
Column "MNPN_ATTRIBUTES" has 58214 NaN values.
Column "MX01_ATTRIBUTES" has 57348 NaN values.
Column "MX02_ATTRIBUTES" has 57519 NaN values.
Column "MX03_ATTRIBUTES" has 58271 NaN values.
Column "MX04_ATTRIBUTES" has 58513 NaN values.
Column "MX05_ATTRIBUTES" has 58664 NaN values.
Column "MX06_ATTRIBUTES" has 58664 NaN values.
Column "MXPN_ATTRIBUTES" has 58215 NaN values.
Column "PRCP_ATTRIBUTES" has 894 NaN values.
Column "PSUN_ATTRIBUTES" has 58710 NaN values.
Column "SNOW_ATTRIBUTES" has 34751 NaN values.
Column "TAVG_ATTRIBUTES" has 45299 NaN values.
Column "TMAX_ATTRIBUTES" has 45160 NaN values.
Column "TMIN_ATTRIBUTES" has 45275 NaN values.
Column "TSUN_ATTRIBUTES" has 58671 NaN values.
Column "WDF2_ATTRIBUTES" has 56956 NaN values.
Column "WDF5_ATTRIBUTES" has 56958 NaN values.
Column "WDMV_ATTRIBUTES" has 58189 NaN values.
Column "WSF2_ATTRIBUTES" has 56956 NaN values.
Column "WSF5_ATTRIBUTES" has 56958 NaN values.

In [32]:
df_attributes.isna().sum()

AWND_ATTRIBUTES    56954
CDSD_ATTRIBUTES    47278
CLDD_ATTRIBUTES    45323
DP01_ATTRIBUTES     3675
DP10_ATTRIBUTES     3675
                   ...
WDF2_ATTRIBUTES    56956
WDF5_ATTRIBUTES    56958
WDMV_ATTRIBUTES    58189
WSF2_ATTRIBUTES    56956
WSF5_ATTRIBUTES    56958
Length: 70, dtype: int64

## "Attributes" Columns in GSOM Data

Within the GSOM (Global Summary of the Month) data records, columns labeled with names ending in "_attributes" play a crucial role by furnishing additional metadata and insights related to specific climate or weather measurements. Each of these columns encapsulates a string of characters, representing diverse attributes associated with the primary measurement columns.

However, it's noteworthy that a significant portion of values in these columns is populated with "NaN," rendering them devoid of meaningful insights for our predictive analysis. The prevalence of missing values contributes to high dimensionality, hindering the interpretability of the analysis. In light of this, we have decided to drop these columns to streamline the model and enhance its simplicity. This strategic simplification aims to improve the model's performance and make it more efficient for our specific analytical objectives.

In [35]:
aggregate_data_v2 = aggregate_data.drop(columns=attributes_columns)

In [36]:
aggregate_data_v2.shape

(58710, 76)